@charset "utf-8";
@import "normalize";

$color-blue: #6f89b1;
$color-blue-lighter: #7f95b6;
$grid-base: 18px;

body {
  background-color: #161e29;
  background-image: image-url("mountains_bg.jpg");
  background-position: top center;
  background-repeat: repeat-x;
  background-size: 800px 520px;
  color: #7f5f37;
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.7;
  overflow-x: hidden;
}

p {
  text-align: justify;
}

blockquote {
  color: rgb(128, 106, 74);
  font-style: italic;
  background-color: #8473441f;
  padding: 2em;
  border-radius: 5px;
  line-height: 1.75;
}

.tech-info {
  color: #4a5c80;
  font-style: italic;
  background-color: #446f841f;
  padding: 2em;
  padding-bottom: 1em;
  border-radius: 5px;
  line-height: 1.75;
  margin-bottom: 20px;

  .title {
    font-weight: bold;
  }
}

.container {
  max-width: 800px;
}

.padded {
  padding: $grid-base;
}

.inner-box {
  background-color: #f6f2e5;
  background-image: image-url("paper2.jpg");
  background-size: 1000px 650px;
  border-style: solid;
  border-width: 1px;
  border-image-repeat: repeat;
  border-image-slice: 24;
  border-image-width: 12px;
  border-image-source: image-url("borders/thick_decorative.png");
  box-shadow: inset 0px 0px 50px rgba(80, 50, 30, 0.8), 0px 0px 20px rgba(0, 0, 0, 0.4);
  position: relative;
  z-index: 2;
  padding: 30px 50px;
  margin-bottom: $grid-base * 2;
}


h1, h2, h3, h4 {
  font-family: 'Crimson Text', serif;
  color: inherit;
}

h2 {
  background-color: rgba(142, 128, 77, 0.1);
  color: #b14226;
  font-weight: bold;
  margin-top: -18px;
  margin-left: -38px;
  margin-right: -38px;
  padding: 18px 38px;
  padding-bottom: 22px;
  margin-bottom: 18px;
}

h3 {
  color: #b14226;
  font-weight: bold;
  padding: 2rem 0 0.5rem 0;
  font-size: 1.75rem;
}

h4 {
  color: #b14226;
  font-size: 1.35rem;
  font-weight: bold;
  padding-top: 0.5rem;
}

h4 a {
  color: #8a3b22dd;
  &:hover {
    color: #8a3b22ff;
  }
}

.blog-title a {
  color: #ffffffdd;
  display: inline-block;
  padding: 2rem 0;
  text-shadow: 0px 0px 15px #000,
  0px 0px 25px #000,
  0px 0px 25px #000,
  0px 0px 5px #000;
}

.dark-panel__head {
  font-weight: bold;
  font-size: 1.05rem;
  font-family: "Raleway", sans-serif;
  background: image-url('panels/dark_header.jpg');
  background-size: 1140px 119px;
  border-radius: 5px 5px 0 0;
  color: #999;
  position: relative;
  z-index: 3;
  box-shadow: 0px 3px 5px rgba(0,0,0,0.4);
  border: 2px solid #3e3d39;
  border-bottom: 0;
  text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.3);
  @extend .padded;
  padding-bottom: 11px;
  padding-top: 11px;
}

.dark-panel__subheader {
  background-image: image-url('panels/dark_body.jpg');
  background-size: 1140px 1140px;
  border: 2px solid #212e42;
  border-bottom: 0;
  border-top: 0;
  box-shadow: 0px 3px 5px rgba(0,0,0,0.4);
  color: $color-blue-lighter;
  z-index: 2;
  .dark-panel__subheader__inner {
    padding: $grid-base/1.5 $grid-base;
    //background-color: rgba(0, 0, 0, 0.35);
    background-color: #4c536159;
  }
}

.dark-panel__body {
  background-image: image-url('panels/dark_body.jpg');
  background-size: 1140px 1140px;
  color: $color-blue;
  box-shadow: 0px 0px 5px rgba(0,0,0,0.4);
  border: 2px solid #212e42;
  border-top: 0;
  @extend .padded;

  a {
    color: $color-blue-lighter;
    text-decoration: underline;
  }

  p:last-child {
    padding-bottom: 0;
    margin-bottom: 0;
  }

  &.middle {
    border-bottom: 0;
  }

  h1, h2, h3, h4 {
    color: inherit;
  }

  margin-bottom: $grid-base * 2;
}

input {
  background-color: #272d36;
  color: #7f95b6;
  border: 1px solid rgb(71, 85, 100);
  padding: 6px 9px;
  &::placeholder {
    color: #7f95b6aa;
  }
}

input[type="submit"] {
  background-color: #272d36;
  border: 1px solid rgb(71, 85, 100);
  border-radius: 2px;
  color: #7f95b6;
  cursor: pointer;
}

input[type="submit"]:hover {
  background-color: #3c4653;
  border: 1px solid rgb(71, 85, 100);
  color: #a3b7d4;
}

#mc_embed_signup {
  margin-bottom: $grid-base * 3;
}

.dragon-over-frame {
  background-image: image-url('dragon_over_frame.png');
  background-size: 276px 607px;
  height: 607px;
  position: absolute;
  right: -94px;
  top: -192px;
  width: 276px;

  .eye {
    position: absolute;
    background-image: image-url('eye.png');
    background-size: 20px 20px;
    height: 20px;
    top: 130px;
    right: 220px;
    width: 20px;
    z-index: 10;
    &.eye1 {
      right: 200px;
    }
  }
}

@media only screen and (max-width: 768px) {
  .dragon-over-frame {
    display: none;
  }

  .container {
    padding-right: 0;
    padding-left: 0;
  }

  .col-md-12 {
    padding: 0;
  }

  .blog-title h1 {
    padding-left: 15px;
  }

  .inner-box {
    padding: 30px 20px;
    border-image-width: 12px 0;
    box-shadow: inset 0px 0px 30px rgba(80, 50, 30, 0.2), 0px 0px 10px rgba(0, 0, 0, 0.1);
  }
}

.patrons-gold {
  margin-bottom: 15px;
}

.patrons-regular {
}


.patrons-gold,
.patrons-regular {
  color: #4a5c80;
  background-color: #446f841f;
  font-weight: bold;
  border-radius: 3px;
  padding: 15px 20px;
  span:last-child {
    &::after {
      content: "";
    }
  }

  span {
    &::after {
      content: ", ";
    }
  }
}
