---

title: Aktualizacja zimowa
date: 2018-12-13 13:36 UTC
tags: "nowa edycja, update, jest zimno"
custom_summary: "Stan gry na grudzień 2018."
custom_slug: "aktualizacja-zimowa"

---

h2 Aktualizacja zimowa

p Ostatni miesiąc spędziłem intensywnie pracując nad nową edycją gry. Ten post zawiera krótkie podsumowanie ostatnich zmian i tego, co zostało jeszcze do zrobienia.

p Notki na temat każdej z opcji są bardzo krótkie. Dokładniejsze opisy poszczególnych opcji przygotuję w osobnych postach. :)

h3 Aktualizacje

h4 Notyfikacje i skrzynka odbiorcza
p Oprócz nowej skrzynki odbiorczej przygotowałem również system wewnętrznych powiadomień na temat ważnych wydarzeń w grze (np. o zbliżającym się terminie rozpoczęcia/zakończenia eventu czy użyciu przez jednego z graczy przedmiotu mającego wpływ na cały świat Nightwood). Informacje te trafiają do osobnej zakładki, gdzie można je łatwo przeglądnąć lub usunąć.

figure.figure style="display: block; max-width: 600px; margin: 0 auto;"
  = image_tag "notifications_header.jpg", class: "img-fluid figure-img", style: "margin-bottom: 20px"

h4 System zarządzania grą
p Bardzo rozbudowałem system przedmiotów, walk i lokacji. Ze względu na dużą ilość powiązanych ze sobą danych musiałem znaleźć rozwiązanie, które pozwoli mi dobrze organizować i łatwo edytować nie tylko opisy ale również zasady gry. Nie chciałem poświęcać czasu na tworzenie osobnego panelu i dlatego zdecydowałem się skorzystać z... arkuszy kalkulacyjnych. Dzięki nim jest w stanie szybko aktualizować dane oraz ustawienia - a skrypty gry automatycznie wczytują i organizują wszystkie informacje.

figure.figure style="display: block; max-width: 600px; margin: 0 auto;"
  = image_tag "spreadsheet.jpg", class: "img-fluid figure-img", style: "margin-bottom: 20px"

h4 Wyprawy i mapa gry
p W poprzedniej edycji gry sporo problemu sprawiało mi rozmieszczenie niektórych opcji - większość z nich trafiała po prostu do zakładki "Akcje i zdarzenia".
p Tym razem wiele elementów trafi do działu "Mapa Świata" (wyprawy, przedmioty do zebrania, pola walki) oraz "Wioska" (mistrz zagadek, trenerzy smoków).

h4 Tytuły
p W nowej edycji zarówno gracze, jak i smoki mogą zdobywać tytuły - wieloczłonowe teksty pojawiające się obok nicku hodowcy. Części tytułów odblokowywane są poprzez rozwój smoków i wykonywanie zadań w grze. Zdobyte człony można łączyć (i układać z nich własne nazwy). :)

h4 Języki
p System tłumaczeń jest w pełni gotowy. Język gry mogę dowolnie przełączać, a poszczególne elementy na bieżąco tłumaczę .

h3 Najważniejsze elementy, które pozostały do zrobienia

h4 Część graficzna

p Jak zapewne zauważyliście nie dzieliłem się do tej pory żadnymi screenami z "centralnej" części gry. Wynika to z tego, że nie jestem jeszcze 100% zadowolony z wyglądu nowej edycji.

p Uaktualnienie szaty graficznej to trudne zadanie. Z jednej strony powinna ona pasować do Nightwood i używać tradycyjnych elementów grafiki starej hodowli. Z drugiej - musi dobrze wyświetlać się na szerokiej gamie urządzeń - konieczna jest responsywność, zadbanie o odpowiedni kontrast i wielkość elementów. Wygląd na pewno przejdzie jeszcze kilka iteracji.

h4 Zadania i treść

p Wciąż decyduję, które elementy będą dostępne podczas pierwszego startu gry - i które "Akcje i zdarzenia" w pierwszej kolejności przenieść ze starej hodowli.

h4 Ustawienia i inne nudne elementy

p Podstawowe opcje jak edycja hasła, nazwy gracza (mało interesujące, ale niezbędne :)&nbsp;).

