---

title: "Witajcie w Smoczej Ramce!"
date: 2018-11-16 20:11 UTC
custom_slug: "witajcie-w-smoczej-ramce"
tags: "nowa edycja, update"
custom_summary: "Kilka słów na temat smoczej ramki i przygotowanych usprawenień."

---

h3 Witajcie w Smoczej Ramce!

p Skończyłem właśnie pracę nad pierwszą wersją nowego edytora Smoczej Ramki i w związku z tym chciałem krótko opowiedzieć o przygotowanych zmianach i usprawnieniach.

h4 Po pierwsze - Edytor Graficzny
p Przygotowałem interaktywny edytor, pozwalający na szybką zmianę podstawowych parametrów ramki. Dzięki niemu możemy łatwo zaktualizować kolory oraz tła.

p Oczywiście zaawansowana edycja (za pomocą kodu) wciąż jest możliwa.

center style="padding: 20px 0"
  iframe width="560" height="315" src="https://www.youtube.com/embed/3u9s_v5ugac" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen="allowfullscreen"

h4 Pełna Strona
p Zrezygnowałem z wyskakujących okienek pop-up i Smocza Ramka zajmuje teraz całą stronę.
p Możemy ustalić własne tło i obrazek wewnątrz ramki.

h4 Statystyki i trofea
p Wciąż eksperymentuję jak najlepiej wyświetlić statystyki i trofea - najprawdopodobniej będą one dostępne w osobnej zakładce smoczej ramki.

h4 Usprawnione komentarze
p Udostępniłem opcję odpowiadania na komentarze pozostawiane w smoczych ramkach.

h4 Karmienie i dieta
p Dodałem możliwość karmienia Smoka przedmiotami z ekwipunku (np. takimi znalezionymi na wyprawach), jednocześnie zwiększając wpływ diety na statystyki smoka.
p W tej chwili każdy z jadalnych przemiotów posiada szereg specjalnych cech/oznaczeń ("mięso", "roślina", "owad", "magiczny", "żywioł: ogień" etc.). System sprawdza przedmioty zjedzone przez smoka w ciągu 5 ostatnich dni i na tej podstawie przypisuje bonusy związane z dietą.

h4 O, i jeszcze jedno!
.row
  .col-sm-6
    = image_tag "frame_translated_pl.jpg", class: "img-fluid figure-img", style: "margin: 5px"
  .col-sm-6
    = image_tag "frame_translated_en.jpg", class: "img-fluid figure-img", style: "margin: 5px"

