---

title: Nowa Edycja Smoków - Szybki Update :)
date: 2018-10-17 23:02 UTC
custom_slug: "szybki_update"
tags: "nowa edycja, update"
custom_summary: "Podstawowe informacje na temat nowej edycji Smoków Nightwood"

---

h2 Nowa Edycja Smoków - Szybki Update :)

p Ponad dwa lata temu ogłosiłem przejście Nightwood w stan hibernacji. Przez ten czas intensywnie pracowałem nad przygotowaniem nowej edycji Smoków. Właśnie wracam do blogowania i publikacji treści w mediach społecznościowych -zacznę od mini-postu/FAQ odpowiadającego na często powtarzające się pytania związane z przyszłością i statusem gry.

p Na razie jest bardzo ogólnie - po części dlatego, że wciąż eksperymentuję, a po części ponieważ niektóre elementy nie są jeszcze gotowe. W kolejnych postach zagłębiać się będę w konkrety i szczegóły.

p Zaczynajmy!

figure.figure
  img.img-fluid.figure-img src="../images/cave.jpg"
  figcaption.figure-caption "Gilfuin ukrywa się w jaskini, by pracować nad Smokami." - Olej na płótnie 2018.

h3 Czego można spodziewać się po nowej edycji gry?
p Mówiąc ogólnie - całkowitego odświeżenia wszystkich systemów gry. Najwięcej zmieni się w kwestii ekonomii i walk smoków. Dostępny jest nowy zestaw smoczych ataków, czarów i umiejętności, walki nastawione na ilość a nie jakość (mamy bezpośrednią kontrolę nad akcjami, jakie wykonują nasze smoki), ulepszyłem przepływ surowców i srebra. Jednocześnie podstawowe elementy Nightwood pozostają bez zmian - smoki wciąż walczą, zdobywają przedmioty i wyruszają na wyprawy. Bardzo zależy mi na zachowaniu dawnego klimatu gry przy jednoczesnym usprawnieniu najbardziej problematycznych elementów.
Od strony nieco bardziej technicznej - nowa strona WWW gry będzie ładować się szybciej, wspierać urządzenia mobilne i działać bardziej stabilnie.

h3 Czy smoki z poprzedniej edycji gry wciąż będą dostępne?
p Tak! Wszystkie smoki bezpiecznie hibernują w nightwoodowej bazie danych. Gracze będą w stanie importować je do nowej edycji.
p Planuję stworzenie osobnego świata/serwera specjalnie dla weteranów Nightwood i osobnego świata dla graczy, którzy chcą swoją przygodę zacząć zupełnie od zera.

figure.figure
  img.img-fluid.figure-img src="../images/dragon_with_blobs.jpg"
  figcaption.figure-caption "Zespół naukowców czuwa nad dobrym stanem zahibernowanych smoków."

h3 Dlaczego jest to pierwszy post po tak długim czasie?
p Poza tym, że przepisanie gry wymaga mnóstwa pracy - Potrzebowałem czasu, by spokojnie przemyśleć wygląd i technologie gry - bez zbliżających się dedlajnów, presji czasu i mediów społecznościowych.

h3 Kiedy zostanie uruchomiona nowa edycja?
p Gdy tylko będzie gotowa. :)
p Grę uruchamiać będę stopniowo, zaczynając od mniejszych eksperymentów, by sprawdzić, czy zmiany podobają się graczom i czy sprawdzają się w świecie rzeczywistym.

figure.figure
  img.img-fluid.figure-img src="../images/calendar.jpg"
  figcaption.figure-caption "Drużyna wróżbitów podczas próby ustalenia dedlajnu."

