---

title: Wiele smoczych światów
date: 2018-12-09 17:11 UTC
tags: "smoki, nowa edycja, serwery, światy"
custom_summary: "Informacje o smoczych światach i serwerach."
custom_slug: "wiele-smoczych-swiatow"

---

h3 Wiele Smoczych Światów

h4 Historia nowej edycji

p Internet bardzo się zmienił od czasu opublikowania przeze mnie pierwszej edycji Nightwood.

p W ciągu ostatnich lat przeglądarki zaczęły wspierać szereg nowych technologii przydatnych podczas tworzenia gier i interaktywnych aplikacji. Pojawiły się nowe możliwości animowania elementów strony, wyświetlania grafik i przesyłania danych.

p Między innymi z tego powodu pracę nad nową edycją smoków rozpocząłem od kilku odważniejszych eksperymentów wykorzystujących elementy, które do tej pory nie były dostępne w hodowli. Mam na myśli przede wszystkim zaawansowane animację oraz interakcję między graczami w czasie rzeczywistym.

div.tech-info
  p.title Techniczna ciekawostka:
  p Podczas tworzenia pierwszej wersji gry popularnością wciąż cieszyła się przeglądarka Internet Explorer w wersji 6. Sprawiała mi ona wiele problemów - jednym z nich był brak wsparcia dla pół-przezroczystych obrazków PNG.

  p Najwygodniejszą opcją było dla mnie stworzenie początkowych grafik jedynie w formacie GIF. Mimo, iż gra już od dawna wspiera bardziej zaawansowane formaty, to nazwa "smocze gify" przyjęła się na dobre i wciąż pozostaje w użyciu. :)

p Na poniższym filmiku możecie zobaczyć mini-grę, którą początkowo planowałem uruchomić pierwszego kwietnia, na prima aprilis.

center style="padding: 20px 0"
  iframe width="100%" height="315" src="https://www.youtube.com/embed/Po61IwhX1TM" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen="allowfullscreen"

p W międzyczasie jednak zdradziłem swoje plany związane z Nightwood i skupiłem większość swojej energii na Smokach. O swoim eksperymentalnym projekcie wspomniałem, ponieważ prawdopodobnie uruchomię go w okolicy kolejnego Prima Aprilis - jako osobny świat Nightwood.

h4 Smoki: Uniwersum

p Zarówno na blogu, jak i na naszej stronie facebookowej, wielokrotnie pisałem o chęci uruchomienia kilku smoczych światów.

p Wcześniej wspomniałem, że chciałbym uruchomić jeden "tradycyjny" świat, gdzie bez ograniczeń można importować smoki z poprzedniej edycji. Oprócz tego jedno nowe uniwersum przeznaczę dla graczy, którzy chcą zacząć zupełnie od początku. Rejestracja na obu światach pozostanie otwarta dla wszystkich - nie wprowadzam również żadnych ograniczeń co do gry na wielu serwerach jednocześnie.

figure.figure style="display: block; max-width: 600px; margin: 0 auto 20px auto;"
  = image_tag "server_selection.png", class: "img-fluid figure-img", style: "margin-bottom: 30px"

  figcaption.figure-caption
    center "Tak dużo gier, tak dużo światów, tak mało czasu!"

p Z perspektywy twórcy i administratora gry opcja udostępnienia wielu światów jest bardzo przydatna. Pozwala, między innymi, w prosty sposób rozłożyć obciążenie na wiele różnych serwerów oraz łatwiej wprowadzać duże, odważne zmiany. W sytuacji, gdy np. chcę zaktualizować zestaw przedmiotów zdobywanych na wyprawach (czy nawet przepisać cały system walki) mogę po prostu stworzyć osobny, nowy świat, który od samego początku opiera się na innych zasadach.

p Z perspektywy gracza tego typu system daje możliwość wyboru. Mogę zdecydować się na rozpoczęcie rozgrywki na nowym świecie, gdzie graczy jest mniej, a najwyższe miejsca w rankingach zajmują początkujący hodowcy i młode smoki. Mogę też dołączyć do starszego, dojrzałego świata, gdzie dzieje się więcej, który pełen jest doświadczonych graczy i gdzie łatwiej znaleźć partnerów do handlu czy założenia klanu.

p Przed oficjalnym uruchomieniem gry na pewno na jakiś czas udostępnię również świat testowy - aby wyłapać ostatnie błędy i sprawdzić, czy wszystkie elementy gry działają poprawnie pod dużym obciążeniem. :)
