---

title: Zgromadzenie, newsletter i dzień kota
date: 2019-08-08 11:18 UTC
custom_slug: "zgromadzenie_newsletter_dzien_kota"
tags: "nowa edycja, zgromadzenie, forum, dzień kota"
custom_summary: "O forum dyskusyjnym i najnowszych aktualizacjach."

---

h2 Zgromadzenie, Newsletter i Dzień Kota

p Hej!

<center>
  <img src="/images/bear_hello.gif" style="max-width: 400px" />
</center>

br

p W ubiegłym tygodniu postanowiłem spróbować czegoś nowego.

p Wysłałem nieco dłuższy (i odrobinę bardziej osobisty) newsletter, opisując w nim ostatnie zmiany oraz pytając o opinie i pomysły.

center
  img src="/images/screenshots_08/newsletter_header.jpg" style="max-width: 400px"

br

p Tak w skrócie:

p
  strong 1. Napisałem nowe Zgromadzenie Nightwood

p Jeśli chodzi o forum dyskusyjne, to jestem bardzo zawiedziony gotowymi skryptami i serwisami. Żaden z nich nie spełniał moich oczekiwań.

p Jakiś czas temu zacząłem pisać własny system i obecnie testuję go z pomocą patronów gry (jeśli chcesz do nas dołączyć odwiedź ten post na Patronite :) ).

center
  img src="/images/screenshots_08/zgromadzenie.jpg" style="max-width: 400px"

br

p Obecna wersja forum jest wciąż bardzo prosta, jednak umożliwia już prowadzenie dyskusji. Używam jej również do testowania Shoutboxa, który później pojawi się w Smokach. :)

p Dla mnie uruchomienie takiego testowego forum ma jedną wielką zaletę - daje mi miejsce w którym mogę na bieżąco widać efekty mojej pracy, gdzie widać, że co chwilę coś zmieniam i wprowadzam poprawki.

p Moim celem jest teraz doprowadzenie Smoków do takiego samego etapu - działającej wersji, która ewoluuje i zmienia się pod wpływem feedbacku otrzymanego od graczy.

p
  strong 2. Rejestracja w Smokach

p Aby zrealizować cel opisany powyżej skupiłem się ostatnio na dokończeniu elementów gry związanych z rejestracją, mailingiem i przypominaniem hasła.

p W rejestracji pomoże nam Nightwoodowy kitku.

center
  img src="/images/screenshots_08/registration.jpg" style="max-width: 400px"

br

p
  strong 3. Pytanie

p Pytałem Was również o formę newslettera oraz pomysły związane z system przygotowywania posiłków.
p Odzew przeszedł moje najśmielsze oczekiwania! Dzięki za masę pomyłów, sugestii i gier do sprwdzenia! :)

center
  img src="/images/screenshots_08/newsletter.jpg" style="max-width: 400px"

br

p Powyżej moja screenshot mojej skrzynki dzień po wysłaniu newslettera. Od tego czasu odpowiedziałem już na 90% maili. :D
